@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  margin: 6rem 2rem;
  padding: 3rem 3.2rem;

  display: grid;
  grid-template-columns: minmax(260px, 1.3fr) repeat(5, 1fr);
  align-items: start;
  column-gap: 4rem;
  row-gap: 2.4rem;
  font-size: 1.2rem;
}

/* Columns */
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Titles */
.footer__column--title,
.footer__explore--title,
.footer__folow--title,
.footer__themes--title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(var(--color-text), 0.7);
  margin: 0 0 1rem;
}

/* Logo */
.footer__about--logo {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: var(--color-text);
}

/* Text sections */
.footer__about--section,
.footer__explore--section,
.footer__genres a,
.footer__last-column a,
.footer__follow--item,
.footer__pages a,
.footer__themes a {
  color: rgba(var(--color-text), 0.88);
  line-height: 1.6;
}

/* Hover links */
.footer__explore--section,
.footer__genres a,
.footer__last-column a,
.footer__themes a,
.footer__pages a {
  transition: 150ms ease;
  cursor: pointer;
  text-decoration: none;
}

.footer__explore--section:hover,
.footer__genres a:hover,
.footer__last-column a:hover,
.footer__follow--item:hover,
.footer__themes a:hover,
.footer__pages a:hover {
  transform: translateX(2px);
  color: var(--color-primary);
}

/* Follow section */
.footer__follow--item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  // color: var(--color-text);
  color: rgba(var(--color-text), 0.88);
}

.footer__icon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-text);
}

.footer__follow--gap {
  margin-bottom: 0.6rem;
}

.footer__follow--title {
  margin-bottom: 1.7rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer {
    grid-template-columns: 1.2fr 1fr 1fr;
  }
}

@media (max-width: 860px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer__about {
    grid-column: 1 / -1;
  }
}

@media (max-width: 520px) {
  .footer {
    margin: 4rem 1.6rem 1.6rem;
    padding: 2.2rem 1.8rem;
    // grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .footer__about--logo {
    font-size: 2.1rem;
  }
}
