@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.movie-card {
  @include card;
  width: 20rem;
  border-radius: 0 2rem 2rem 2rem;
  overflow: hidden;
  margin-left: 2rem;

  display: flex;
  flex-direction: column;

  &__poster {
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: inherit;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    display: block;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1rem 0.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    padding: 0 1rem;
    margin: 0 0 1rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    min-height: calc(1.2em * 2);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 1.2rem;

    margin-top: auto;

    &--btn {
      @include btn;
      width: 18rem;
      border-radius: 8rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    &--wathlist-btn {
      color: #5799ef;
    }
    &--trailer-btn {
      background: transparent;
      &:hover {
        color: #d0d0d0;
        background: #2a2a2a;
      }
    }
  }
}

.star-icon {
  width: 1.8rem;
  margin-left: 3.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
