.skeleton-card {
  width: 180px;
  height: 280px;
  border-radius: 0.5rem;
  background-color: #222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  animation: pulse 1.5s infinite ease-in-out;

  &__image {
    width: 100%;
    height: 75%;
    background: linear-gradient(90deg, #222 25%, #333 50%, #222 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  &__title {
    width: 80%;
    height: 10px;
    background: #333;
    border-radius: 2px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
