@use "sass:color";

$color-bg: #0b130f;
$color-surface: #11221a;
$color-surface-2: #162c23;
$color-border: rgba(255, 255, 255, 0.07);

$color-text: #e6f2ef;
$color-muted: #9fb8af;

$color-primary: #5799ef;
$color-accent: #7fcf88;
$color-success: #3ddc84;
$color-danger: #d45d6a;

$gradient-primary: linear-gradient(
  to top,
  rgba(11, 19, 15, 0.96),
  rgba(11, 19, 15, 0.6),
  rgba(11, 19, 15, 0.25)
);
$gradient-body: linear-gradient(180deg, #0b130f 0%, #09100c 50%, #060a07 100%);

$gradient-accent: linear-gradient(90deg, #7c4dff, #00c6ff);

$font-sans: "Inter", sans-serif;
$font-headings: "Poppins", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$shadow-s: 0 4px 10px rgba(0, 0, 0, 0.35);
$shadow-m: 0 8px 22px rgba(0, 0, 0, 0.45);
$shadow-l: 0 18px 54px rgba(0, 0, 0, 0.55);

$z-nav: 100;
$z-card: 200;
$z-overlay: 400;
$z-modal: 1000;

$card-bg: $color-surface;
$card-elevated-bg: $color-surface-2;
$card-radius: 1.2rem;
$card-shadow: $shadow-s;

$hero-overlay: $gradient-primary;

$search-bg: rgba(255, 255, 255, 0.08);
$search-border: rgba(255, 255, 255, 0.15);
$search-text: $color-text;
$search-card-greadiant: linear-gradient(
  180deg,
  var(--card-bg) 0%,
  color-mix(in srgb, var(--card-bg) 85%, black) 100%
);
$search-filter-bg: color-mix(in srgb, var(--color-bg) 92%, black 8%),
  url("/assets/textures/noise-dark.png");

$button-primary-bg: $color-primary;
$button-primary-text: #ffffff;
$button-hover-bg: color.adjust($color-primary, $lightness: 8%);

$fav-icon-color: $color-accent;
$fav-icon-active: $color-success;

$trs-fast: 120ms cubic-bezier(0.25, 0.8, 0.25, 1);
$trs: 180ms cubic-bezier(0.25, 0.8, 0.25, 1);
$trs-slow: 280ms cubic-bezier(0.25, 0.8, 0.25, 1);

$color-button-muted: rgba(255, 255, 255, 0.06);
$color-button-muted-hover: rgba(255, 255, 255, 0.1);

$color-watchlist-active-bg: color.adjust($color-primary, $alpha: -0.86);
$color-watchlist-active-border: color.adjust($color-primary, $alpha: -0.6);
$color-watchlist-active-bg-hover: color.adjust($color-primary, $alpha: -0.78);
$color-watchlist-active-border-hover: color.adjust(
  $color-primary,
  $alpha: -0.3
);

$color-trailer-hover-bg: rgba(255, 255, 255, 0.08);
$color-trailer-hover-text: $color-muted;

$color-rating-star: $color-accent;

$color-nav-ovl-bubble-inner: rgba(255, 255, 255, 0.24);
$color-nav-ovl-bubble-mid: rgba(255, 255, 255, 0.12);
$color-nav-ovl-bubble-outer: $color-surface-2;

$color-nav-ovl-overlay-highlight: #000000;
$color-nav-ovl-overlay-base: #000000;

$color-nav-ovl-hover-fill: rgba(255, 255, 255, 0.16);
$color-nav-ovl-title: color.adjust($color-text, $lightness: 8%);
$color-nav-ovl-close-hover: rgba(255, 255, 255, 0.1);
$color-nav-ovl-focus-outline: rgba(255, 255, 255, 0.6);
$color-nav-ovl-menu-active-bg: rgba(255, 255, 255, 0.14);
