@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/themes" as *;

// Base
@use "./base";

// Pages
@use "./pages/details";
@use "./pages/favourites";
@use "./pages/home";
@use "./pages/search";

// Components
@use "./components/card";
@use "./components/SkeletonCard";
@use "./components/Moviecard";
@use "./components/header";
@use "./components/modal";
@use "./components/row";
@use "./components/footer";
